﻿@{
    ViewData["Title"] = "Betting";
}


<p id="TakName">
    TakName:@TempData["username"]<br />
</p>
<p id="TakBet">
    TakBet:@TempData["bet"]
</p>

<p id="clicks">TakLocal: 0</p>
<p id="clicksRemote">TakRemote: will be shown after first tak></p>


<div>
    <button  onClick="onClick()" class=" btn btn-primary btn-lg col-xs-12 col-sm-6 col-md-4 col-lg-4 " style="font-size: 64px;">TAK</button> 
    <br /><br /><br /><br /><br />
</div>



@section Scripts {
    <script type="text/javascript">
        var clicks = 0;
        var username = '';
        function onClick() {
            clicks += 1;
            document.getElementById("clicks").innerHTML = "TakLocal: " + clicks;
            document.cookie = document.cookie = "clicks=" + clicks + ";path=/";
            $.ajax({
                url: "/Home/ReceiveTak",
                type: "POST",
                data: { time: new Date().getTime(), username  },
                success: function (data) {
                    if (data.count == -1)
                        document.getElementById("warning").innerHTML = "REGISTER FIRST";
                    else {
                        document.getElementById("warning").innerHTML = "";
                        document.getElementById("clicksRemote").innerHTML = "TakRemote: " + data.count;
                    }
                },
                error: function (data) {
                    document.getElementById("warning").innerHTML = "ERR:" + data;
                }
            });


        }
        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }

        function Setup() {
            document.getElementById("clicks").innerHTML = "TakLocal: " + getCookie("clicks");
            clicks = parseInt(getCookie("clicks"));
            document.getElementById("TakName").innerHTML = "TakName: " + getCookie("username");
            document.getElementById("TakBet").innerHTML = "TakBet: " + getCookie("bet");
            var href = location.href;
            username = href.match(/([^\/]*)\/*$/)[1];
        }
        window.onload = Setup;
    </script>


}