﻿
@{
    ViewData["Title"] = "ChangeLog";
}

<h2>ChangeLog</h2>

<p>
    <dl>
        <dt>ChangeLog v0.3.1</dt>
        <dd>Animated logo :O</dd>
        <dd>Deflate Home/Index</dd>
        <dd>HTTPS</dd>
        <dd>Nice winners page</dd>
        <dt>ChangeLog v0.3</dt>
        <dd>>Admin can delete bets</dd>
        <dd>>Logo</dd>
        <dd>>Admin Can force add Taks to users</dd>
        <dd>>You can reopen your tak-ing link in other browser</dd>
        <dd>>#Rules</dd>
        <dd>>DataClustering</dd>
        <dt>ChangeLog v0.2</dt>
        <dd>>AdminTools no longer part of Home Controller</dd>
        <dd>>Correct page titles</dd>
        <dd>>Display bet and username in betting view</dd>
        <dd>>Tak button looks nice</dd>
        <dd>>You can revist taking site by link</dd>
        <dd>>See your taks that were accepted</dd>
        <dt>ChangeLog v0.1</dt>
        <dd>>Cos prymitywnego</dd>
    </dl>
</p>