﻿@{
    ViewData["Title"] = "Home Page";
}
<h1>Tak v1.0.2</h1>
<h2>Hello there: Gramy za: <b>4zł</b></h2>
<div class="col-lg-4 col-md-4">
    <p>
        Jesli juz postawiles beta idz na strone taktaktak2018.azurewebsites.net/Home/Betting/[username]<br />
        Tak?<br />
        PS: Uzywam Cookisow<br />
    </p>
    <p>
        <h3>#RULES</h3>
        <ul>
            <li>
                Liczymy każde oddzielne słowo 'tak' <br />
                >>aka: nie liczymy 'także', 'taki', ale liczymy tak zawarte w wyrażeniach np 'i TAK dalej'
            </li>
            <li>
                Srednia jest wyliczana jako średnia arytmetyczna z wyników od drugiego do przedostatniego
                >>Chyba że jest 4 lub mniej użytkowników... wtedy średnia ze wszystkich
                >>Admin może usunąć TakCount użytkownika jeśli jest wyraźnie nieprawidłowy(dc,ff, itd.)
            </li>
            <li>Zwycięzcą jest osoba najbliższej wyliczonej oddalony nie więcej niż 3</li>
            <li>W przypadku braku zwycięzcy pieniądze są oddawane a stawka wzrasta za tydzień</li>
        </ul>
    </p>
    <p>
        Login and set bet:
        <a asp-action="Login">Login</a>
    </p>

    
    
</div>
<div class="col-lg-8 col-md-4">

    <img src="Images/LogoHQ.png" class="img-rounded" alt="Logo.png">
</div>


