﻿@model Tak.Models.UserBet
@{
    ViewData["Title"] = "Login";
}

<div>

    <form asp-controller="Home" asp-action="CheckIn" method="post">
        <div>
            <label asp-for="Username" style="display: inline-block;width: 140px;text-align: right;">  </label> 
            <input asp-for="Username" />
        </div>
        <div>
            <label asp-for="Bet" style="display: inline-block;width: 140px;text-align: right;"></label> 
            <input asp-for="Bet" />
        </div>
        <button type="submit" asp-action="CheckIn" class=" btn btn-danger col-sm-12 col-md-4 col-lg-4">TAK!</button>
    </form>


</div>