﻿@model ValueTuple<string,int>

@{
    ViewData["Title"] = "AddTaks";
}

<h2>DeleteUser</h2>

<h3>Are you sure you want to Boost up this?</h3>
<div>
    <h4>UserBet</h4>
    <hr />
    <form asp-action="TaksToAdd" method="post">
        <div class="form-group">
            <label class="control-label">Rootname</label>
            <input type="text" name="Rootname">
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" name="Password">
        </div>
        <div class="form-group">
            <label class="control-label">username(to boost up)</label>
            <input type="text" name="username" value="@Model.Item1">
        </div>
        <div class="form-group">
            <label class="control-label">TaksToAdd</label>
            <input type="number" name="TaksToAdd" value="@Model.Item2">
        </div>
        <input type="submit" value="TaksToAdd" class="btn btn-default" method="post" />
    </form>
</div>
