﻿@model System.String

@{
    ViewData["Title"] = "DeleteUser";
}

<h2>DeleteUser</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserBet</h4>
    <hr />
    <form asp-action="DeleteUser" method="post">
        <div class="form-group">
            <label class="control-label">Rootname</label>
            <input type="text" name="Rootname">
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" name="Password">
        </div>
        <div class="form-group">
            <label class="control-label">username(to delete)</label>
            <input type="text" name="username" value="@Model">
        </div>
        <input type="submit" value="Delete" class="btn btn-default" method="post" />
    </form>
</div>
