﻿
@{
    ViewData["Title"] = "EndSession";
}

<h2>EndSession</h2>

<h3>Are you sure you want to End Session?</h3>
<div>
    <h4>End Session</h4>
    <hr />
    <div class="col-md-4">
        <form asp-action="EndSession" method="post">

            <div class="form-group">
                <label class="control-label">Username</label>
                <input type="text" name="Username">
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" name="Password">
            </div>
            <div class="form-group">
                <label class="control-label">Lecture number</label>
                <input type="number" name="Number">
            </div>
            <div class="form-group">
                <label class="control-label">Type in 'Reset' to reset the DB</label>
                <input type="text" name="Reset">
            </div>
            <div class="form-group">
                <input type="submit" value="EndSession" class="btn btn-default" />
            </div>
        </form>
    </div>
    
</div>
