﻿@model Tak.Models.UserBet
@{
    ViewData["Title"] = "Results";
}

<div>
    <form asp-controller="AdminTools" asp-action="ResultsExt" method="post">
        <p><span>DateFrom: </span><input type="datetime-local"  name="dateFrom" value="@DateTime.Now.ToString("s")" /></p>
        <p><span>DateTo </span><input type="datetime-local"  name="dateTo" value="@DateTime.Now.ToString("s")" /></p>
        <button type="submit" asp-action="ResultsExt" class=" btn btn-primary col-sm-12 col-md-4 col-lg-4">The winner is...</button>
    </form>

</div>