﻿@model IEnumerable<ValueTuple<string,int,int>>

@{
    ViewData["Title"] = "UserBetsCRUD";
}

<h2>UserBetsCRUD</h2>
<form asp-action="UserBetsCRUDDelete" method="post" id="xd">
    <div class="form-group">
        <label class="control-label">Username</label>
        <input type="text" name="Username">
    </div>
    <div class="form-group">
        <label class="control-label">Password</label>
        <input type="password" name="Password">
    </div>

</form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Bet</th>
                <th>Taks</th>
                <th>Remove?</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var UserBetTaks in Model)
            {
                <tr>
                    <td>@UserBetTaks.Item1</td>
                    <td>@UserBetTaks.Item2</td>
                    <td>@UserBetTaks.Item3</td>
                    <td>
                        
                        <div class="form-group">
                            @*/<input type="text" value="@UserBetTaks.Item1" hidden="hidden" name="Betname" form="xd"/>/*@
                            <input type="submit" value="@UserBetTaks.Item1" text="Remove" class="btn btn-default" form="xd" name="Betname" />
                        </div>
                        
                    </td>
                </tr>
            }

        </tbody>
    </table>

