﻿
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>ChangePassword</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
           
            <div class="form-group">
                <label  class="control-label">Username</label>
                <input type="text" name="Username">
            </div>
            <div class="form-group">
                <label  class="control-label">OldPassword</label>
                <input type="password" name="OldPassword">
            </div>
            <div class="form-group">
                <label  class="control-label">Password</label>
                <input type="password" name="Password">
            </div>
            <div class="form-group">
                <label  class="control-label">PasswordVer</label>
                <input type="password" name="PasswordVer">
            </div>
            <div class="form-group">
                <input type="submit" value="ChangePassword" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>