﻿@{
    ViewData["Title"] = "Authorize";
}
<h2>Please confirm your rights</h2>
<div>
    <form asp-action=@ViewData["Action"] asp-controller=@ViewData["Controller"] method="post">

        <div class="form-group">
            <label class="control-label">Username</label>
            <input type="text" name="Username">
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" name="Password">
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </form>

</div>