﻿@model List<SessionOverview>
@{
    ViewData["Title"] = "Results";
}

<div class="table-responsive">
    <h2>#Winners</h2>
    <p>All the fame in the world to thiz guys:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Lecture</th>
                <th>Minimal amount</th>
                <th>Avarage</th>
                <th>Maximal amount</th>
                <th>Winners</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var s in Model)
            {
            <tr>
                <td>W @s.ID</td>
                <td>@s.MinTak</td>
                <td>@s.AvgTak</td>
                <td>@s.MaxTak</td>
                <td>
                @if (s.Winners!=null && s.Winners.Count() > 0)
                {
                    foreach (var win in s.Winners)
                    {
                        @win.ToString() @:<br />
                    }
                }
                else
                {
                    @:noone won :c
                }
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>