﻿@model string
@{
    ViewData["Title"] = "TakPerMinute";
}

<h2>TakPerMinute</h2>

<div id="visualization">
    
</div>
@section Scripts {
    <script type="text/javascript">
    var container = document.getElementById('visualization');
    var items = @Model ;

    var dataset = new vis.DataSet(items);
    var options = {
        style: 'bar',
        barChart: { width: 50, align: 'center' }, // align: left, center, right
        drawPoints: false,
        dataAxis: {
            icons: true
        },
        orientation: 'top',
        start: '0',
        end: '200'
    };
        var graph2d = new vis.Graph2d(container, dataset, options);

    </script>
    }
